QLabel#titulo_principal {
    font-weight: bold;
    font-size: 20pt;
}

QWidget#tarjeta_menu {
    border: 1px solid #E0E0E0;
    border-radius: 12.5px;
}

QLabel#etiqueta_nombre_menu {
    font-weight: bold;
    font-size: 13pt;
}

QWidget#elemento_platillos {
    border-bottom: 2px solid #E0E0E0
}

